<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões para Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permissões para BLE a partir do Android 12 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:maxSdkVersion="31"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:maxSdkVersion="31"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" android:maxSdkVersion="31"/>

    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" tools:replace="android:usesCleartextTraffic" />
</manifest>
